@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nome-no-site{
    font-size: larger;
    color: rgba(255, 255, 255, 0.836);
    font-family: Roboto Mono;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, rgb(33, 33, 43) 16.15%, rgb(1, 1, 2) 85.61%, rgb(53, 52, 52));
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: Roboto Mono;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
}
.cabecalho-menu-item:hover {
    background-color: blueviolet;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid blueviolet;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    justify-content:center;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 25px;
    color:rgba(255, 255, 255, 0.836);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.836);
}

.conteudo-principal-escrito-botao {
    background-color:rgb(97, 95, 94);
    width: 180px;
    height: 40px;
    border: none;
    box-shadow: 4px, 6px, 5px rgba(0, 0, 0, 25);
    border-radius: 20px;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.conteudo-principal-escrito-botao:hover{
    background-color: blueviolet;
}

.conteudo-skills-botao{
    background: hsla(0,0%,67%,.1);
    border-radius: 10px;
    display: flex;
    padding: 10px;
    transition: all .5s;
}

.conteudo-skills-botao:hover{
    background-color:blueviolet;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    font-family: Roboto Mono;
    border-top: 0.4px solid;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: Roboto Mono;
    color: rgb(255, 255, 255);
}
.rodape {
    padding: 34px;
    border-top: 0ch;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}
